<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>My Application</span>
    <span class="example-spacer"></span>
    <button mat-button [matMenuTriggerFor]="menu">{{currentConnection$ | async}}</button>
    <mat-menu #menu="matMenu">
      <ng-container *ngFor="let connectionType of connectionTypes$ | async">
        <button mat-menu-item (click)="onMenuButtonClick(connectionType.toString())">{{connectionType.toString()}}</button>
      </ng-container>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
<button mat-raised-button color="primary" (click)="onGetUserWithRestClick()">GetUserWithRest</button>
<button mat-raised-button color="accent" (click)="onGetListUsersWithRestClick()">GetListUsersWithRest</button>
<router-outlet></router-outlet>
