<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button [matMenuTriggerFor]="mainMenu" aria-label="Example icon-button with a menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #mainMenu="matMenu">
      <button mat-menu-item routerLink="/tobaccos">Tobaccos</button>
      <button mat-menu-item routerLink="/companies">Companies</button>
      <button mat-menu-item routerLink="/tastes">Tastes</button>
    </mat-menu>
    <span>My Application</span>
    <span class="example-spacer"></span>
    <button mat-button [matMenuTriggerFor]="menu">{{currentConnection$ | async}}</button>
    <mat-menu #menu="matMenu">
      <ng-container *ngFor="let connectionType of connectionTypes$ | async">
        <button mat-menu-item (click)="onMenuButtonClick(connectionType.toString())">{{connectionType.toString()}}</button>
      </ng-container>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
